body {
    background-color: #006599;
    margin-top: 30px;
}
th {
    color: #101010;
    font-family: "Comic Sans MS";
}
caption {
    color:#101010;
    font-family:"Comic Sans MS";
}
.form_margin {
   margin-top: 30px;
}
.no_res {
    margin-top: 30px;
}
.add-btn {
    margin-top: 30px;
    margin-left: 10px;
}

.table-background {
    background-color: white;
    margin-top: 10px;
}